---
title: Workcation | Vue.js v3
bodyClass: page bg-gray-200
---

<div id="root">
  {% include hero.html %}

  {% raw %}
  <div class="max-w-md sm:max-w-xl lg:max-w-6xl mx-auto px-8 lg:px-12 py-8">
    <h2 class="text-xl text-gray-900">Popular destinations</h2>
    <p class="mt-2 text-gray-600">A selection of great work-friendly cities with lots to see and explore.</p>
    <div class="mt-6 grid gap-6 lg:grid-cols-2 xl:grid-cols-3">
        <Destination v-for="d in destinations" v-bind:destination="d" v-bind:key="d.city"></Destination>
    </div>
  </div>
</div>


<script type="text/html" id="destination-template">
    <div class="flex items-center rounded-lg bg-white shadow-lg overflow-hidden">
      <img class="h-32 w-32 flex-shrink-0"
           :src="'https://raw.githubusercontent.com/tailwindlabs/tailwindcss-from-zero-to-production/main/08-optimizing-for-production/public' + destination.imageUrl"
           :alt="destination.imageAlt" />
      <div class="px-6 py-4">
        <h3 class="text-lg font-semibold text-gray-800">{{ destination.city }}</h3>

        <p class="text-gray-600">{{ destination.averagePrice }} / night average</p>
        <div class="mt-4">
          <a href="#" class="text-brand-dark hover:text-brand font-semibold text-sm">
            Explore {{ destination.propertyCount }} properties
          </a>
        </div>
      </div>
    </div>
</script>


<!--<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.min.js"></script>-->
<script src="https://unpkg.com/vue@3"></script>

<script>
  let app = Vue.createApp({
    data() {
      return {
        destinations: [
          {
            city: "Toronto",
            averagePrice: 120,
            propertyCount: 76,
            imageUrl: "/img/toronto.jpg",
            imageAlt: "Toronto skyline",
          },
          {
            city: "Malibu",
            averagePrice: 215,
            propertyCount: 43,
            imageUrl: "/img/malibu.jpg",
            imageAlt: "Cliff in Malibu",
          },
          {
            city: "Chicago",
            averagePrice: 130,
            propertyCount: 115,
            imageUrl: "/img/chicago.jpg",
            imageAlt: "Chicago skyline",
          },
          {
            city: "Seattle",
            averagePrice: 135,
            propertyCount: 63,
            imageUrl: "/img/seattle.jpg",
            imageAlt: "Seattle skyline",
          },
          {
            city: "Colorado",
            averagePrice: 85,
            propertyCount: 47,
            imageUrl: "/img/colorado.jpg",
            imageAlt: "Lake in Colorado",
          },
          {
            city: "Miami",
            averagePrice: 115,
            propertyCount: 86,
            imageUrl: "/img/miami.jpg",
            imageAlt: "Beach in Miami",
          },
        ]
      }
    }
  });
  app.component('Destination', {
    template: '#destination-template',
    props: ["destination"]
  });
  app.mount('#root')
</script>
{% endraw %}
